body {
    background-image: url(./cave.png);
    background-repeat: repeat-x;
    background-size: 100vw 100vh;
}

.viking {
    width: 512.1px;
    height: 512px;
    background-image: url(./viking.png);
    scale: 0.6;
    margin-top: 265px;
}